.access-information {
    text-align: center;
    margin-top: 20px;
    border: double;
    border-color: rgb(255, 243, 132);
    padding: 20px;
    border-radius: 12px; 
}

.initial-screen {
    margin-left: 0px;
    text-align: center;
    padding-bottom: 10px;
    /* padding-left: 20px; */
    /* background-image: url('https://thumbs.dreamstime.com/b/landscape-travel-tourism-pair-feet-shoes-against-background-mountains-landscape-travel-tourism-pair-99746206.jpg'); */
    /* background-image: url('https://i.insider.com/59b17c51609c3030008b4dca?width=1100&format=jpeg&auto=webp'); */
    background-image: url('https://www.abc.net.au/cm/rimage/10451186-16x9-xlarge.jpg?v=2');
    background-size: cover; 
    height: cover;
    width: cover;
}

.initial-info {
    padding: 20px;
    background-color: rgba(78, 78, 78, 0.75);
    margin: 20px;
    border: double;
    border-color: rgba(97, 97, 97, 0.75);
    /* border- */
}